<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <script src="/static/jquery.js" defer></script>
        <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.js" defer></script>
        <script src="/static/axios.js" defer></script>
        <title>50List | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border ps-4">
            <a class="navbar-brand" href="/"><span class="blue">5</span><span class="yellow">0</span><span class="red">List</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2 me-4">
                        <li class="nav-item"><a class="nav-link" href="/lists">Lists</a></li>
                        <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
                    </ul>
                    <div class="dropdown ml-auto mt-2 me-4 ms-auto">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          User
                        </button>
                        <ul class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="dropdownMenuButton1">
                          <li class="dropdown-item bg-light text-muted">Signed in as {{ db.execute("SELECT * FROM users WHERE id = ?", session["user_id"])[0]["username"] }}</li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                      </div>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2 me-4 ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <main class="container p-5">

            {% block main %}{% endblock %}

        </main>
        <footer class="small text-center text-muted">
            50List made by tenderpork. <br>
            With inspiration from CS50 Week9 Finance <br>
            GitHub: <a href="https://github.com/tenderpork" target="_blank">https://github.com/tenderpork</a>
        </footer>
    </body>
</html>